{% extends 'base.html.twig' %}

{% block title %}Accueil La main à la pâte{% endblock %}

{% block body %}
<section class="image"></section>
    <section class="text">
    <img class="article2" src="images/Brunch.jpg" alt="brunch">
        <h2>CSS Parallax</h2>
        <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eligendi aliquam mollitia. Suscipit ex, sed illum corrupti amet officiis ipsum aliquid! Quos exercitationem labore fugit repudiandae illo, nemo delectus dolorum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quis accusamus consequuntur fuga vel quam molestias perferendis, non vitae similique in eveniet maiores, amet ratione provident officia architecto, quae doloremque. Lorem ipsum dolor</p>
    </section>
    <section class="image"></section>
    <section class="text">
    <img class="article" src="images/Brunch.jpg" alt="brunch">
        <h2>Pas mal non?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisici!ng elit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est temporibus accusamus libero nostrum cupiditate dolore totam repudiandae ipsum maiores exercitationem</p>
    </section>
    <section class="image"></section>
{% endblock %}
