@font-face {
  font-family: "Midway";
  font-style: normal;
  font-weight: normal;
  src: url("/font/Midway.woff") format("woff");
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #381D2A;
}

/*Barre de navigation*/
.parentCircle {
  padding-bottom: 15px;
  background-color: #381D2A;
  width: auto;
  height: auto;
}
.parentCircle ol li {
  transform-origin: center;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.image {
  height: 250px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../images/papevint.jpg);
}

.text * {
  position: relative;
  z-index: 1;
  margin: 20px 15%;
}

section {
  padding: 30px 0;
}

.text {
  background: #381D2A;
  position: relative;
  color: #E0AC21;
}

.text::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 125%;
  background: #381D2A;
  color: #E0AC21;
  rotate: -3deg;
  translate: -50% -50%;
}

.circle1 {
  position: absolute;
  z-index: 7;
  background: #61130A;
  border: solid 2px white;
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.circle2 {
  position: absolute;
  z-index: 6;
  background: #A80000;
  border: solid 2px white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.circle3 {
  position: absolute;
  z-index: 5;
  background: #C02D0C;
  border: solid 2px white;
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

.circle4 {
  position: absolute;
  z-index: 4;
  background: #BF2C0C;
  border: solid 2px white;
  border-radius: 50%;
  width: 320px;
  height: 320px;
}

.circle5 {
  position: absolute;
  z-index: 3;
  background: #D75414;
  border: solid 2px white;
  border-radius: 50%;
  width: 380px;
  height: 380px;
}

.circle6 {
  position: absolute;
  z-index: 2;
  background: #E0AC21;
  border: solid 2px white;
  border-radius: 50%;
  width: 440px;
  height: 440px;
}

.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover, .circle5:hover, .circle6:hover {
  position: absolute;
  transform: translate(-50%, -50%) scale(1.05);
}

span.arrondi {
  color: white;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  border-radius: 25%;
  background-color: rgba(252, 222, 150, 0.4);
}

#descript {
  font-family: "Midway";
  color: #E0AC21;
  text-shadow: 2px 0 0 #d60, 2px 2px 0 #d60, 0 2px 0 #d60, -2px 2px 0 #d60, -2px 0 0 #d60, -2px -2px 0 #d60, 0 -2px 0 #d60, 2px -2px 0 #d60;
  text-align: center;
  font-size: 75px;
}

/* Fin barre de navigation */
body {
  cursor: url("/images/fouet.png"), auto;
  background-color: #E0AC21;
  width: 100%;
  height: 100%;
}

a:hover, li:hover {
  cursor: url("/images/fouet2.png"), auto;
}

div {
  background-color: #381D2A;
}

header {
  width: 100%;
  height: 220px;
  background-color: #381D2A;
}

img {
  text-align: center;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #381D2A;
}

#imgformat {
  width: 200px;
  height: 200px;
  border: solid burlywood;
}

.article {
  float: left;
  height: 200px;
  padding: 5px;
  background-color: rgba(252, 222, 150, 0.4);
  border-radius: 25px;
}

.article2 {
  float: right;
  height: 200px;
  padding: 5px;
  background-color: rgba(252, 222, 150, 0.4);
  border-radius: 25px;
}

.illustr {
  width: 200px;
  height: 200px;
}

#test {
  position: absolute;
  width: 400px;
  height: 400px;
  animation: effect 8sec linear infinite;
}

*,
:before,
:after {
  box-sizing: border-box;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}

#container {
  padding: 1em;
  width: 100%;
}

/*** OPEN BOOK ***/
.open-book {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1em 3em;
  color: #000;
  padding: 2em;
}

.open-book * {
  position: relative;
}

/* Highlight */
.open-book *::-moz-selection {
  background: rgba(222, 255, 0, 0.75);
}

.open-book *::selection {
  background: rgba(222, 255, 0, 0.75);
}

/* Header/Footer */
.open-book .book {
  padding-bottom: 0.5em;
}

.open-book .book *,
.open-book footer * {
  font: 700 1em/1.25 "Playfair Display", sans-serif;
  letter-spacing: 0.125em;
  margin: 0;
}

.open-book .book * {
  font-size: 0.75em;
  text-transform: uppercase;
}

/* Chapter Title */
.open-book .chapter-title {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA2NCA2NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNjQgNjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCiAgICA8Zz4NCiAgICAJPHBhdGggZD0iTTAsMzJMMzIsMGwzMiwzMkwzMiw2NEwwLDMyeiBNOCwzMmwyNCwyNGwyNC0yNEwzMiw4TDgsMzJ6IE0xNiwzMmwxNi0xNmwxNiwxNkwzMiw0OEwxNiwzMnogTTI0LDMybDgsOGw4LThsLTgtOEwyNCwzMnoiIC8+DQogICAgPC9nPg0KPC9zdmc+) bottom center no-repeat;
  background-size: 0.5em 0.5em;
  font: 700 7vw/1.25 "Playfair Display", sans-serif;
  letter-spacing: 0.125em;
  margin: 0 0 1em 0;
  padding: 1em 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.open-book .chapter-title:before,
.open-book .chapter-title:after {
  border: solid 0 #000;
  border-width: 0.05em 0;
  bottom: 0.1875em;
  content: "";
  height: 0.15em;
  position: absolute;
  width: calc(50% - 0.5em);
}

.open-book .chapter-title:before {
  left: 0;
}

.open-book .chapter-title:after {
  right: 0;
}

/* Body Copy */
.open-book article {
  line-height: 1.5;
}

.open-book article *:not(.chapter-title):not(hr):not(dl) {
  margin: 0 auto;
  max-width: 28.125em;
}

.open-book article p {
  text-indent: 2em;
}

.open-book .chapter-title + p:first-of-type {
  text-indent: 0;
}

.open-book .chapter-title + p:first-of-type:first-letter {
  float: left;
  font: 700 3em/0.65 "Playfair Display", sans-serif;
  padding: 0.15em 0.05em 0 0;
  text-transform: uppercase;
}

.open-book article > ul,
.open-book article > ol {
  padding-left: 3em;
}

.open-book article > ul ul {
  padding-left: 1em;
}

.open-book sup {
  color: #cc0000;
  font-family: "Rock Salt", cursive;
  left: 0;
  margin-top: -1em !important;
  max-width: 100% !important;
  position: absolute;
  text-align: center;
  width: 100%;
}

.open-book mark {
  background: linear-gradient(to bottom, rgb(222, 255, 0) 0%, rgba(222, 255, 0, 0.5) 60%, rgb(222, 255, 0) 100%);
}

.open-book mark.pink {
  background: linear-gradient(to bottom, rgb(255, 69, 190) 0%, rgba(255, 107, 203, 0.5) 60%, rgb(255, 107, 203) 100%);
}

.open-book mark.blue {
  background: linear-gradient(to bottom, rgb(73, 179, 255) 0%, rgba(107, 193, 255, 0.5) 60%, rgb(107, 193, 255) 100%);
}

.open-book mark.green {
  background: linear-gradient(to bottom, rgb(67, 226, 15) 0%, rgba(39, 229, 54, 0.5) 60%, rgb(39, 229, 54) 100%);
}

.open-book mark.orange {
  background: linear-gradient(to bottom, rgb(255, 134, 9) 0%, rgba(255, 177, 34, 0.5) 60%, rgb(255, 177, 34) 100%);
}

.open-book hr {
  background-color: #000;
  border: 0;
  height: 2px;
  margin: 1em 0;
}

.open-book dl {
  border: solid 0 #ccc;
  border-width: 0.0625em 0;
  -moz-column-break-inside: avoid;
       break-inside: avoid-column;
  margin: 1em auto;
  padding: 1em 0;
}

/*** MEDIA QUERIES ***/
@media only screen and (min-width: 50em) {
  .open-book {
    margin: 1em;
    position: relative;
  }
  .open-book:before {
    background-color: #8B4513;
    border-radius: 0.25em;
    bottom: -1em;
    content: "";
    left: -1em;
    position: absolute;
    right: -1em;
    top: -1em;
    z-index: -1;
  }
  .open-book:after {
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.2) 46%, rgba(0, 0, 0, 0.5) 49%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.5) 51%, rgba(0, 0, 0, 0.2) 52%, transparent 100%);
    bottom: -1em;
    content: "";
    left: 50%;
    position: absolute;
    top: -1em;
    transform: translate(-50%, 0);
    width: 4em;
    z-index: 1;
  }
  .open-book > * {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 6em;
         column-gap: 6em;
    position: relative;
    z-index: 1;
  }
  /* Header/Footer */
  .open-book .book:before,
  .open-book .book:after,
  .open-book .book:before,
  .open-book .book:after,
  .open-book .book:before,
  .open-book .book:after,
  .open-book .book:before,
  .open-book .book:after,
  .open-book .book:before,
  .open-book .book:after {
    top: -2.65em;
  }
  .open-book .book:before,
  .open-book footer:before {
    right: 50%;
  }
  .open-book .book:before {
    transform: rotate(-2deg);
  }
  .open-book .book:after,
  .open-book footer:after {
    left: 50%;
  }
  .open-book .book:after {
    transform: rotate(2deg);
  }
  .open-book .book > *:last-child,
  .open-book .chapter-title {
    font-size: 3em;
  }
  .open-book .chapter-title:before,
  .open-book .chapter-title:after {
    height: 0.125em;
  }
  /* Body Copy */
  .open-book article p {
    text-indent: 3em;
  }
  .open-book article > ul,
  .open-book article > ol {
    padding-left: 4em;
  }
}/*# sourceMappingURL=style.css.map */