@font-face {
  font-family: "Midway";
  font-style: normal;
  font-weight: normal;
  src: url("/font/Midway.woff") format("woff");
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #381D2A;
}

a:hover, li:hover, input:hover {
  cursor: url("/images/fouet2.png"), auto;
}

/*Barre de navigation*/
.parentCircle {
  padding-bottom: 15px;
  background-color: #381D2A;
  width: auto;
  height: auto;
}
.parentCircle ol li {
  transform-origin: center;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.text * {
  position: relative;
  z-index: 1;
  margin: 20px 15%;
}

section {
  padding: 30px 0;
}

.text {
  background: #381D2A;
  position: relative;
  color: #E0AC21;
}

.text::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 125%;
  background: #381D2A;
  color: #E0AC21;
  rotate: -3deg;
  translate: -50% -50%;
}

.circle1 {
  position: absolute;
  z-index: 7;
  background: #61130A;
  border: solid 2px white;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation-duration: 500ms;
  animation-name: vibration;
  animation-iteration-count: 2;
  animation-delay: 5s;
}

.circle2 {
  position: absolute;
  z-index: 6;
  background: #A80000;
  border: solid 2px white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation-duration: 500ms;
  animation-name: vibration;
  animation-iteration-count: 2;
  animation-delay: 15s;
}

.circle3 {
  position: absolute;
  z-index: 5;
  background: #C02D0C;
  border: solid 2px white;
  border-radius: 50%;
  width: 260px;
  height: 260px;
  animation-duration: 500ms;
  animation-name: vibration;
  animation-iteration-count: 2;
  animation-delay: 7s;
}

.circle4 {
  position: absolute;
  z-index: 4;
  background: #BF2C0C;
  border: solid 2px white;
  border-radius: 50%;
  width: 320px;
  height: 320px;
  animation-duration: 500ms;
  animation-name: vibration;
  animation-iteration-count: 2;
  animation-delay: 10s;
}

.circle5 {
  position: absolute;
  z-index: 3;
  background: #D75414;
  border: solid 2px white;
  border-radius: 50%;
  width: 380px;
  height: 380px;
  animation-duration: 500ms;
  animation-name: vibration;
  animation-iteration-count: 2;
  animation-delay: 20s;
}

.circle6 {
  position: absolute;
  z-index: 2;
  background: #E0AC21;
  border: solid 2px white;
  border-radius: 50%;
  width: 440px;
  height: 440px;
  animation-duration: 500ms;
  animation-name: vibration;
  animation-iteration-count: 2;
  animation-delay: 13s;
}

@keyframes vibration {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-48%, -48%);
  }
  50% {
    transform: translate(-52%, -48%);
  }
  75% {
    transform: translate(-48%, -48%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover, .circle5:hover, .circle6:hover {
  position: absolute;
  transform: translate(-50%, -50%) scale(1.05);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  border-radius: 25%;
  background-color: rgba(252, 222, 150, 0.4);
}

#descript {
  font-family: "Midway";
  color: #E0AC21;
  text-shadow: 2px 0 0 #d60, 2px 2px 0 #d60, 0 2px 0 #d60, -2px 2px 0 #d60, -2px 0 0 #d60, -2px -2px 0 #d60, 0 -2px 0 #d60, 2px -2px 0 #d60;
  text-align: center;
  font-size: 75px;
}

/* Fin barre de navigation */
body {
  cursor: url("/images/fouet.png"), auto;
  background-color: #E0AC21;
  width: 100%;
  height: 100%;
}

.image {
  height: 250px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../images/papevint.jpg);
}

div {
  background-color: #381D2A;
}

header {
  width: 100%;
  height: 220px;
  background-color: #381D2A;
}

img {
  text-align: center;
}

#imgformat {
  width: 200px;
  height: 200px;
  border: solid burlywood;
}

.article {
  float: left;
  width: 150px;
  height: 150px;
  padding: 5px;
  background-color: rgba(252, 222, 150, 0.4);
  border-radius: 25px;
}

.article2 {
  float: right;
  width: 150px;
  height: 150px;
  padding: 5px;
  background-color: rgba(252, 222, 150, 0.4);
  border-radius: 25px;
}

.illustr {
  width: 200px;
  height: 200px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #381D2A;
}

.liens {
  display: flex;
  justify-content: space-around;
}

.connexion {
  background-color: #61130A;
  border: solid;
  border-radius: 25px;
  margin: 5px;
  color: white;
}

.social {
  width: 50px;
  height: 50px;
}/*# sourceMappingURL=style.css.map */