{% extends 'base.html.twig' %}

{% block title %}Edit Ateliers{% endblock %}

{% block body %}
    <h1>Edit Ateliers</h1>

    {{ include('ateliers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ateliers_index') }}">back to list</a>

    {{ include('ateliers/_delete_form.html.twig') }}
{% endblock %}
