{% extends 'base.html.twig' %}

{% block title %}New Ateliers{% endblock %}

{% block body %}
    <h1>Create new Ateliers</h1>

    {{ include('ateliers/_form.html.twig') }}

    <a href="{{ path('app_ateliers_index') }}">back to list</a>
{% endblock %}
